<div class="dashboard-buttons">
  <h1>All Files</h1>

  <%= link_to "Upload New File", new_file_record_path, class: "btn" %>

  <ul class="file-list">
    <% @file_records.each do |file| %>
      <li>
        <%= link_to file.name, file_record_path(file), class: "btn" %>
        <%= link_to "Edit", edit_file_record_path(file), class: "btn" %>
        <%= link_to "Delete", file_record_path(file), method: :delete, data: { confirm: "Are you sure?" }, class: "btn" %>
      </li>
    <% end %>
  </ul>
</div>